@{
    ViewData["Title"] = "Mensagens - IWANT";
    var usuarios = ViewBag.Usuarios as List<string>; // Obtém a lista de usuários carregada do controlador
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/form.css">
</head>
<body class="body-reclamacoes">
    <div class="header">
        <img src="~/imagens/fotinha.png" alt="Logo IWANT">
    </div>

    <div class="section">
        <h2>Conversas</h2>
        <form>
            <label for="usuario">Seu Apelido</label>
            <input type="text" id="usuario" class="form-control input" />

            <div class="form-group">
                <label for="destino">Destino</label>
                <select id="destino" class="form-control input">
                    @foreach (var usuario in usuarios)
                    {
                        <option value="@usuario">@usuario</option> <!-- Opções de usuários carregadas da base de dados -->
                    }
                    <option value="todos">Todos</option>
                </select>
            </div>

            <label for="mensagem">Mensagem</label>
            <textarea class="input" id="mensagem" rows="6"></textarea>

            <button type="submit" id="send">Enviar Mensagem</button>
        </form>
    </div>

    <div class="container col-6">
        <ul class="list-group" id="messagesList"></ul>
    </div>

    <!-- Scripts necessários -->
    <script src="~/Pasta do signalR/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Pasta do signalR/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Pasta do signalR/signalr.min.js"></script>
    <script src="~/Pasta do signalR/main.js"></script>
</body>
</html>
