<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - IWANT</title>
</head>

<body class="body-sobre">
    <div class="header">
        <img src="~/imagens/fotinha.png" alt="Logo IWANT">
    </div>

        <div class="section">
            <h2>Não usas? Vende!</h2>
            <p>Queremos mostrar-te quão incrível pode ser a troca de materiais universitários. Vende os materiais que têm mais para dar. Compra artigos que não encontrarás nas lojas. A IWANT está aberta a todos os que acreditam que bons materiais devem ser reutilizados.</p>
        </div>

        <div class="section">
            <h2>1 ideia simples une agora uma comunidade de estudantes</h2>
            <h3>De 2 pessoas</h3>
            <p>Em 2024, a Ana estava a terminar o curso, mas tinha muitos materiais de estudo acumulados. O João ofereceu ajuda e criou um site para que a Ana pudesse vender seus materiais a outros estudantes. Pouco depois, a ideia ganhou força na comunidade acadêmica. Foi assim que nasceu a IWANT.</p>
            <h3>Para uma equipa de mais de 100</h3>
            <p>Hoje em dia, mais de 100 pessoas trabalham na IWANT para ajudar estudantes a vender, comprar e trocar materiais universitários. A nossa equipa abrange diferentes universidades e cursos, tal como os nossos membros.</p>
            <h3>A trabalhar em várias universidades</h3>
            <p>Os escritórios da IWANT estão sediados em Porto e Braga. Estes pontos ajudam-nos a operar em várias universidades de Portugal.</p>
            <h3>Numa missão global</h3>
            <p>Vende o que não usas ou encontra achados raros – nunca foi tão fácil descobrir o mundo dos materiais universitários em segunda mão como agora! A nossa comunidade não para de crescer e tem a missão de fazer dos materiais reutilizados a primeira escolha dos estudantes.</p>
        </div>  

</body>
</html>
